# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
cleaning-backup/

# notify @HoldYourWaffle if you need to remove this
gradle.properties
